.jumbotron {
  background-image: url('images/cric.jpeg');
  backdrop-filter: blur(0px);
  background-size: cover;
  background-color: #192233;
  color: #000000;
  padding: 100px 25px;
}
.jumbotron h1 {
  font-size: 4em;
}
.jumbotron p {
  font-size: 2em;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

body {
  background-size: cover;
}

  

.myDiv img {
    width: 20; /* Sets the width of the images to 100% of the div's width */
    border: 1px solid #ccc; /* Adds a border to the images */
    margin-bottom: 10px;  /*Adds some space between the images */
  }

  .myDiv {
    margin-left: auto; /* Centers the div horizontally */
    margin-right: auto; /* Centers the div horizontally */
    text-align: center; /* Centers the content of the div horizontally */
    width: 1000px; /* Sets the width of the div to 500 pixels */
    height: 1000px; /* Sets the height of the div to 300 pixels */
    background-color: #f5f5f5; /* Adds a light gray background color to the div */
    padding: 40px; /* Adds 20 pixels of padding to the div */
    border-radius: 5px; /* Adds a rounded border to the div */
    box-shadow: 0px 0px 5px #ccc; /* Adds a subtle shadow effect to the div */
    margin-top: 20px; /* Adds some space between the div and the element above it */
  }
  .myDiv1 img {
    width: 20; /* Sets the width of the images to 100% of the div's width */
    border: 1px solid #ccc; /* Adds a border to the images */
    margin-bottom: 10px;  /*Adds some space between the images */
  }

  .myDiv1 {
    background-color: #f5f5f5; /* Adds a light gray background color to the div */
    padding: 20px; /* Adds 20 pixels of padding to the div */
    border-radius: 5px; /* Adds a rounded border to the div */
    box-shadow: 0px 0px 5px #ccc; /* Adds a subtle shadow effect to the div */
    margin-top: 20px; /* Adds some space between the div and the element above it */
  }

  .container2 {
    background-color: #333;
    color: #fff;
    padding: 100px 25px;
  }
  .bgimg {
    background-image: url(images/bg1.jpg); /* Sets the background image */
  background-size: cover; /* Scales the image to cover the entire background */
  background-position: center center; /* Centers the image horizontally and vertically */
  background-attachment: fixed; /* Sets the background image to a fixed position */
  height: 100%; /* Sets the height of the container to 100% */
  }

  .news {
    margin-bottom: 50px;
  }
  .news h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .news-slider .slick-slide {
    margin: 10 auto;
  }
  .news-item {
    margin-bottom: 40px;
  }
  .news-item h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .news-item p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .read-more {
    display: inline-block;
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
  }
  .read-more:hover {
    text-decoration: none;
    background-color: #0069d9;
  }
  .sidebar h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .sidebar li {
    margin-bottom: 10px;
  }
  .sidebar a {
    color: #007bff;
  }
  .sidebar a:hover {
    text-decoration: none;
    color: #0069d9;
  }

/*
  .fact {
    background-color: #6c6d41;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #494949;
    font-size: 1.2rem;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .fact.active {
    transform: translateX(0%);
    transition: transform 1s ease-in-out;
  }
  
  .fact.next {
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
  }
  
  .fact.prev {
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
  }

  .fact:hover {
    background-color: #9c9d72;
    transform: translateY(-5px);
  }

  .container1 {
    background-color: #000000;
    padding: 50px 0;
  }*/

  .container1 {
    background-color: #f6f6f6;
    padding: 50px 0;
  }
  
  .fact {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 30px;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .fact:hover {
    transform: translateY(-5px);
    background-color: #f7d68a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: pulse 1s ease-in-out infinite;
  }
  
  .fact-icon {
    background-color: #ebebeb;
    border-radius: 50%;
    color: #757575;
    font-size: 24px;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    transition: all 0.3s ease;
  }
  
  .fact-icon:hover {
    transform: rotate(360deg);
    background-image: url('images/ipl.jpeg');

  }
  
  .fact-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    opacity: 0;
    transition: all 0.5s ease 0.3s;
  }
  
  .fact-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(-10px);

  }
  
  /* @media (max-width: 768px) {
    .fact {
      margin-bottom: 30px;
    }
  }*/ 
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  

  .box-container {
    display: flex;
    justify-content: space-between;
  }
  
  .box {
    position: relative;
    width: 400px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  
  .box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: -1;
  }
  
  .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  }
  
  .box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .box:hover .overlay {
    opacity: 1;
  }
  
  .box h3 {
    margin-top: 50px;
    font-size: 24px;
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
  }
  
  .box:hover h3 {
    margin-top: 0;
  }
  
  .box p {
    font-size: 18px;
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.3s ease;
  }
  
  .box:hover p {
    opacity: 1;
    transform: translateY(0);
  }
  
  


thead,
tfoot {
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

td {
    text-align: center;
}
  
  



  
  
  
  